@mixin cite() {
    margin: $font-size-base 0;
    padding: 0 0 0 $font-size-base;
    border-left: $blockquote-border-width solid $cite-border-color;
    @include font-size($blockquote-small-font-size);
    color: $blockquote-small-color;

    &:last-child {
        margin-bottom: 0;
    }
}

@function line-length-value($name, $lengths: $line-lengths) {
    $line-length-value: map-get($lengths, $name);
    @return if($line-length-value != 0, $line-length-value, null);
  }
@mixin line-length-em($name, $lengths: $line-lengths) {
    $line-length-value: line-length-value($name, $lengths);
    @if $line-length-value {
        width: $line-length-value+em;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
  }