.wp-block[data-align="none"],
.wp-block[data-align="center"],
.wp-block[data-align="left"],
.wp-block[data-align="right"] {
    figure {
        display:table;
    }
}

.alignnone,
figure[class="wp-block-image"],
figure[class="wp-block-image size-large"],
.aligncenter,
.alignleft,
.alignright,
.alignwide,
.alignfull,
.wp-block[data-align="wide"],
.wp-block[data-align="full"] {
    .wp-caption-text,
    figcaption {
        display: block;
    }
}

.alignnone,
figure[class="wp-block-image"],
figure[class="wp-block-image size-large"],
.aligncenter,
.alignleft,
.alignright,
.alignwide,
.alignfull {
    .wp-caption-text,
    figcaption {
        margin-top: 1em;
        margin-bottom: 0;
    }
}

.alignnone,
.wp-block[data-align="none"],
figure[class="wp-block-image"],
figure[class="wp-block-image size-large"],
.aligncenter,
.wp-block[data-align="center"],
.alignleft,
.wp-block[data-align="left"],
.alignright,
.wp-block[data-align="right"],
.alignwide,
.wp-block[data-align="wide"],
.alignfull,
.wp-block[data-align="full"] {
    .wp-caption-text,
    figcaption {
        max-width: $figure-caption-font-size * $line-length-max;
        font-size: $figure-caption-font-size;
        color: $figure-caption-color;
    }
}

.alignnone,
figure[class="wp-block-image"],
figure[class="wp-block-image size-large"],
.aligncenter,
.alignwide,
.alignfull {
    margin: $page-title-margin-bottom-mobile 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.alignnone,
.wp-block[data-align="none"],
figure[class="wp-block-image"],
figure[class="wp-block-image size-large"],
.alignleft,
.wp-block[data-align="left"],
.alignright,
.wp-block[data-align="right"] {
    .wp-caption-text,
    figcaption {
        text-align: left;
    }
}

figure[class="wp-block-image size-large"],
.aligncenter,
.wp-block[data-align="center"],
.alignwide,
.wp-block[data-align="wide"],
.alignfull,
.wp-block[data-align="full"] {
    .wp-caption-text,
    figcaption {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

figure[class="wp-block-image size-large"],
.aligncenter {
    width: 100% !important;
}

.alignwide {
    @include media-breakpoint-up(md) {
        @include alignwide($alignwide-ratio-md);
    }
    @include media-breakpoint-up(lg) {
        @include alignwide($alignwide-ratio-lg);
    }
}

.alignleft,
.alignright {
    display: block;
    //width: 100% !important;
    margin: $page-title-margin-bottom-mobile auto;
    float: none;

    @include media-breakpoint-up(xs) {
        margin: 0 0 1em 0;
        max-width: 240px !important;
        max-width: calc((#{$breakpoint-xs} - #{$uams-module-padding-mobile} * 3) / 2) !important;
    }

    @include media-breakpoint-up(sm) {
        max-width: 299px !important;
        max-width: calc((#{$content-width} - #{$page-title-margin-bottom-mobile}) / 2) !important;
    }

    &.small {
        @include media-breakpoint-up(md) {
            max-width: 299px * 0.75 !important;
            max-width: calc((#{$content-width} - #{$page-title-margin-bottom-mobile}) / 2 * 0.75) !important;
        }
    }
}

.alignleft,
.wp-block[data-align="left"],
.alignright,
.wp-block[data-align="right"] {
    .wp-caption-text,
    figcaption {
        @include media-breakpoint-only(xxs) {
            text-align: center;
        }
    }
}

.alignleft,
.alignright {
    img,
    .wp-caption-text,
    figcaption {
        @include media-breakpoint-only(xxs) {
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.alignleft {
    @include media-breakpoint-up(xs) {
        margin-right: $page-title-margin-bottom-mobile;
        float: left;
    }
}

.alignright {
    @include media-breakpoint-up(xs) {
        margin-left: $page-title-margin-bottom-mobile;
        float: right;
    }
}

.wp-block-image + .wp-block-image {
    .alignleft,
    .wp-block[data-align="left"] {
        clear: left;
    }
    .alignright,
    .wp-block[data-align="right"] {
        clear: right;
    }
}