.btn {
    text-decoration: none;
}

.btn-container {
    display: flex;
    flex-flow: row wrap;
    margin: (-$spacer-min / 2);

    .inner-container .btn,
    .btn {
        margin: ($spacer-min / 2);
    }

    @at-root .card #{&} {
        padding: 0 $card-spacer-x $card-spacer-x;
        margin: auto 0 0;
        justify-content: center;

        .inner-container {
            margin: (-$spacer-min / 2);

            .btn {
                margin: ($spacer-min / 2);
            }
        }
    }
}

.wp-block-file {
    a.wp-block-file__button {
        @extend .btn, .btn-sm;
        @include button-outline-variant($primary);

        &:visited {
            @include button-outline-variant($primary);
        }
    }
}