.wp-block-embed.is-type-video {
    &:not(.wp-has-aspect-ratio) { // only do the things when there is no assigned aspect ratio class
        @extend .embed-responsive, .embed-responsive-16by9;

        .wp-block-embed__wrapper,
        iframe {
            @extend .embed-responsive-item;
        }
    }
}

// Embed styles specific to the YouTube Lyte plugin
.embed-responsive {
    .lyte-wrapper {
        width: 100% !important;
        max-width: none !important;
        margin: 0 !important;

        .lyte {
            position: static;
            padding-bottom: 0;

            .pL {
                background-size: 100.3%;
            }
        }
    }
    div.img-fluid:empty {
        display: none;
    }
}