//
// Links
//

a {
    @include hover-focus() {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
}


//
// Figures
//

figure {
    &:last-child {
        margin-bottom: 0;
    }
}