#site-container-outer {
    display: flex;
    width: 100%;
    align-items: stretch;

    .site-container {
        width: 100%;
        min-height: 100vh;

        transition-property: margin-left;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }

    &.quick-links-active {
        .site-container {
            margin-left: -20rem;
        }
    }
}