#site-container-outer {
    display: flex;
    width: 100%;
    align-items: stretch;

    .site-container {
        display: flex;
        flex-flow: column nowrap;
        // Allows it to expand vertically if it is not as tall as the viewport.
        // Paired with flex-grow:1 on .site-inner.

        width: 100%;
        min-height: 100vh;
        transition-property: margin-left;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }

    &.quick-links-active {
        .site-container {
            margin-left: -20rem;
        }
    }
}