article.format-standard {
    padding: $spacer * 2;
    margin-bottom: 0;

    @include media-breakpoint-up(sm) {
        padding: $spacer * 3;
    }

    .entry-title,
    .entry-meta,
    .entry-content,
    .entry-footer {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .entry-title,
    .entry-header .entry-meta  {
        text-align: center;
    }

    .entry-title {
        width: 21.875em;
    }

    .entry-header .entry-meta,
    .entry-content,
    .entry-footer {
        width: 35em;
    }

    .entry-content,
    .entry-footer {
        text-align: left;
    }
    
    .entry-footer {
        border-top: 1px solid $body-bg-border;
        margin-top: 1em;
        padding-top: 1em;

        .entry-meta {
            width: 100%;
            text-align: inherit;
        }
    }

    + #respond,
    + h2.screen-reader-text + #respond {
        padding-top: 0;
    }
}

#respond {
    margin-bottom: 0;

    @include media-breakpoint-up(sm) {
        padding: $spacer * 3;
    }

    #reply-title,
    #commentform {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #reply-title {
        width: 21.875em;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #commentform {
        width: 35em;
    }
}