body.page-template-default,
body.post-template-default,
body.archive,
body.error404,
body.search {

    .entry,
    .entry-comments,
    #respond,
    .archive-description,
    .archive-pagination {
        padding: $uams-module-padding-mobile;
        margin-bottom: 0;
    
        @include media-breakpoint-up(sm) {
            padding: $uams-module-padding;
        }
    }

    .archive-description,
    .entry {
        .entry-title,
        .archive-title {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            width: $font-size-base * $line-length-max * 1.618;
            margin-bottom: $page-title-margin-bottom-mobile;
            padding-bottom: $page-title-margin-bottom-mobile;
            position: relative;
            color: $page-title-color;
            font-family: $page-title-font-family;
            @include font-size($page-title-font-size);
            font-weight: $page-title-font-weight;
            line-height: $page-title-line-height;
            text-align: center;
    
            @include media-breakpoint-up(sm) {
                margin-bottom: $page-title-margin-bottom;
                padding-bottom: $page-title-margin-bottom;
            }

            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 0.0625em;
                background-color: $page-title-border-color;
                max-width: $font-size-base * 35;
                position: absolute;
                margin: 0 auto;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }

    .entry {
        .entry-meta,
        .entry-content,
        .entry-footer {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .entry-meta {
            color: $gray-600;
            font-size: 1rem;
        }
    
        .entry-header .entry-meta  {
            margin-bottom: $font-size-base;
            text-align: left;
            width: $font-size-base * 35;
        }
    
        .entry-content,
        .entry-footer {
            width: $font-size-base * 35;
            text-align: left;
        }

        .entry-content {
            .aligncenter,
            .alignleft,
            .alignright {
                .wp-caption-text {
                    margin-top: 0.5em;
                    text-align: left;
                }
            }

            .aligncenter {
                margin: $page-title-margin-bottom-mobile 0;
                width: 100% !important;

                @include media-breakpoint-up(md) {
                    margin-left: (-(139% - 100) / 2);
                    margin-right: (-(139% - 100) / 2);
                    max-width: none;
                    width: 139% !important;
                }
                @include media-breakpoint-up(lg) {
                    margin-left: (-(161.8% - 100) / 2);
                    margin-right: (-(161.746% - 100) / 2);
                    width: 161.746% !important;
                }

                img {
                    width: 100% !important;
                }
            }
            .alignleft,
            .alignright {
                display: block;
                width: 100% !important;
                margin: $page-title-margin-bottom-mobile 0;
                float: none;

                @include media-breakpoint-up(xs) {
                    margin: 0 0 1em 0;
                    width: 47.1428% !important;
                }

                @include media-breakpoint-up(md) {
                    max-width: none;
                    width: 66.642% !important;
                }

                @include media-breakpoint-up(lg) {
                    width: 78.042% !important;
                }

                img {
                    width: 100% !important;
                }
            }

            .alignleft {
                @include media-breakpoint-up(xs) {
                    margin-right: 5.7142%;
                    float: left;
                }

                @include media-breakpoint-up(md) {
                    margin-left: (-(139% - 100) / 2);
                    margin-right: $uams-module-padding-mobile;
                }
                @include media-breakpoint-up(lg) {
                    margin-left: (-(161.8% - 100) / 2);
                }
            }

            .alignright {
                @include media-breakpoint-up(xs) {
                    margin-left: 5.7142%;
                    float: right;
                }

                @include media-breakpoint-up(md) {
                    margin-right: (-(139% - 100) / 2);
                    margin-left: $uams-module-padding-mobile;
                }
                @include media-breakpoint-up(lg) {
                    margin-right: (-(161.8% - 100) / 2);
                }
            }
        }
        
        .entry-footer {
            margin-top: $uams-module-padding-mobile;
            padding-top: $uams-module-padding-mobile;
            border-top: 1px solid $body-bg-border;
    
            .entry-meta {
                width: 100%;
                text-align: inherit;
            }
        }
    }

    .entry-comments {
        @extend .bg-gray;

        > h3,
        .comment-list {
            width: $font-size-base * 35;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .comment {
            .comment-header,
            .comment-reply {
                background-color: transparent;
            }

            .comment-header {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;

                .comment-author {
                    width: 100%;
                    margin-bottom: 0.5em;
                }

                .comment-meta,
                .comment-edit-link {
                    white-space: nowrap;
                    font-size: 1rem;
                }

                .comment-meta {
                    padding-right: 1em;
                }
                .comment-edit-link {

                }
            }

        }

        + #respond {
        padding-top: 0;
    
        @include media-breakpoint-up(sm) {
            padding-top: 0;
        }
        }
    }

    #respond {
        @extend .bg-gray;
    
        #reply-title,
        #commentform {
            width: $font-size-base * 35;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    
        #reply-title {
            text-align: left;
        }

        .form-submit {
            #submit {
                @extend .btn-primary;
            }
        }
    }
}

body.archive,
body.search {
    .archive-description {
        + .entry {
            padding-top: 0;
        }
    }

    .entry {
        margin-bottom: 0;

        &:last-of-type {
            border-bottom: 0;
        }

        .entry-title {
            @include font-size($h2-font-size);

            &:after {
                background-color: $body-bg-border;
            }
        }

        .entry-content {
            h1 {
                @extend .h2;
            }

            h2 {
                @extend .h3;
            }

            h3 {
                @extend .h4;
            }

            h4 {
                @extend .h5;
            }

            h5 {
                @extend .h6;
            }
        }
    }

    .archive-pagination {
        background-color: $body-bg-banded;

        ul {
            margin: 0 auto;
        }
    }
}