.cta-bar {
    &.cta-bar-centered {
        .inner-container {
            text-align: center;

            h2,
            .text-container,
            .btn-container {
                max-width: 100%;
                margin-right: auto;
                margin-left: auto;
            }

            h2 {
                width: $line-length-min + em;
            }

            .text-container,
            .btn-container {
                width: $line-length-ideal + em;
            }
            .btn-container {
                justify-content: center;
            }
        }
    }
    &.cta-bar-weighted {
        .col-12 {
            @include media-breakpoint-up(sm) {
                display: flex;
                flex: 0 1 auto;
                justify-content: center;
            }
        }
        .inner-container {
            @include media-breakpoint-down(xs) {
                text-align: center;
            }
            .cta-heading {
                h2 {
                    @include media-breakpoint-up(sm) {
                        max-width: $line-length-min + em;
                    }
                }
            }
            .cta-body {
                @include media-breakpoint-up(sm) {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: flex-start;
                }

                .text-container {
                    @include media-breakpoint-up(sm) {
                        min-width: $line-length-min + em;
                        max-width: $line-length-max + em;
                        //max-width: 100%;
                        padding-right: $uams-module-padding-mobile;
                    }
                }
                .btn {
                }
            }
        }
    }
}
