.stacked-image-text,
.uamswp-news-syndication-cards {
    $stacked-tile-min-width: 1rem * $line-length-min;
    $stacked-tile-ideal-width: 1rem * $line-length-ideal;
    $stacked-tile-max-width: 1rem * $line-length-max;

    .row {
        justify-content: center;
    }
    .item {
        //flex: 0 0 $stacked-tile-width;
        display: flex;
        justify-content: center;

        @include media-breakpoint-up(xl) {
            flex: 0 1 auto;
            width: auto;
        }

        &:nth-child(-n+3) {
            @include media-breakpoint-down(lg) {
                padding-bottom: $grid-gutter-width;
            }
        }

        &:nth-child(-n+4) {
            @include media-breakpoint-down(xs) {
                padding-bottom: $grid-gutter-width;
            }
        }

        &:nth-child(even) {
            @include media-breakpoint-only(sm) {
                justify-content: flex-end;
            }
            @include media-breakpoint-only(md) {
                justify-content: flex-end;
            }
            @include media-breakpoint-only(lg) {
                justify-content: flex-end;
            }
        }

        &:nth-child(odd) {
            @include media-breakpoint-only(sm) {
                justify-content: flex-start;
            }
            @include media-breakpoint-only(md) {
                justify-content: flex-start;
            }
            @include media-breakpoint-only(lg) {
                justify-content: flex-start;
            }
        }
    }
    .card {
        border: none;
        border-radius: 0;
        background-color: transparent;
        width: $stacked-tile-ideal-width;
        max-width: 100%;

        &:hover,
        &:active {
            img {
                //-webkit-transform: scale($image-hover-size);
                //transform: scale($image-hover-size);
            }
        }
    }
    .card-img-top {
        border-radius: 0;
        overflow: hidden;

        img {
            //-webkit-transition: $image-hover-size-transition;
            //transition: $image-hover-size-transition;
        }
    }
    .card-body {
        font-size: 1rem;
        padding: 1.25rem 0 0 0;
    }
}

body.page-template-default {
    .stacked-image-text:not(.alignfull),
    .uamswp-news-syndication-wrapper:not(.alignfull) .uamswp-news-syndication-cards {
        .item {
            @extend .col-sm-12;
            @extend .col-xl-12;

            &:nth-child(-n+4) {
                padding-bottom: $grid-gutter-width;
            }
        }
    }
}