.text-image-overlay {

    .item {
        padding: $uams-module-padding-mobile;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9d2235;
        color: white;
        min-height: 441px;
        height: 100vw / 4 * 3;
        max-height: 100vh;

        @include media-breakpoint-up(sm) {
            min-height: 496px;
            height: 100vw / 8 * 3;
            max-height: 100vh;
        }

        @include media-breakpoint-up(sm) {
            padding: $uams-module-padding;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            mix-blend-mode: overlay;
            opacity: 0.3;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
        }

        .text-container {
            width: 35em;
            max-width: 100%;
            text-align: center;
            z-index: 1;
        }

        .btn {
            color: #9d2235;
            background-color: white;
        }

        &.black {
            background-color: $gray-900;
            color: $white;

            &:before {
                //opacity: 0.3; // 1.19 contrast ratio between blacks and whites
                //opacity: 0.5; // 1.33 contrast ratio between blacks and whites
                opacity: 0.6; // 1.42 contrast ratio between blacks and whites
                //opacity: 0.7; // 1.52 contrast ratio between blacks and whites
            }

            .text-container {
                .btn {
                    color: $gray-900;
                }
            }
        }

        &.red {
            background-color: $red-dark;
            color: $white;

            &:before,
            &:after {
                opacity: 0.2; // 1.48 contrast ratio between blacks and whites
                //opacity: 0.3; // 1.79 contrast ratio between blacks and whites
            }

            .text-container {
                .btn {
                    color: $red-dark;
                }
            }
        }

        &.blue {
            background-color: $blue-darker;
            color: $white;

            &:before,
            &:after {
                //opacity: 0.1; // 1.28 contrast ratio between blacks and whites
                opacity: 0.15; // 1.47 contrast ratio between blacks and whites
                //opacity: 0.2; // 1.65 contrast ratio between blacks and whites
            }

            .text-container {
                .btn {
                    color: $blue-darker;
                }
            }
        }

        &.green {
            background-color: $green-darkest;
            color: $white;

            &:before {
                //opacity: 0.1; // 1.34 contrast ratio between blacks and whites (green-darkest)
                opacity: 0.15; // 1.52 contrast ratio between blacks and whites (green-darkest)
                //opacity: 0.2; // 1.79 contrast ratio between blacks and whites (green-darkest)
            }

            .text-container {
                .btn {
                    color: $green-darkest;
                }
            }
        }

        &.teal {
            background-color: $teal-darkest;
            color: #fff;

            &:before {
                //opacity: 0.1; // 1.27 contrast ratio between blacks and whites (teal-darkest)
                //opacity: 0.15; // 1.43 contrast ratio between blacks and whites (teal-darkest)
                opacity: 0.175; // 1.5 contrast ratio between blacks and whites (teal-darkest)
                //opacity: 0.2; // 1.62 contrast ratio between blacks and whites (teal-darkest)
                //opacity: 0.3; // 2.03 contrast ratio between blacks and whites (teal-darkest)
            }

            .text-container {
                .btn {
                    color: $teal-darkest;
                }
            }
        }

        &.eggplant {
            background-color: $eggplant;
            color: $white;

            &:before {
                opacity: 0.2; // 1.43 contrast ratio between blacks and whites
                //opacity: 0.3; // 1.7 contrast ratio between blacks and whites
            }

            .text-container {
                .btn {
                    color: $eggplant;
                }
            }
        }

        &.orange {
            background-color: $orange-darkest;
            color: $white;

            &:before {
                opacity: 0.2; // 1.51 contrast ratio between blacks and whites
                //opacity: 0.3; // 1.86 contrast ratio between blacks and whites
            }

            .text-container {
                .btn {
                    color: $orange-darkest;
                }
            }
        }
    }
}
